*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:hsl(217, 28%, 14%);
    color:hsl(0, 0%, 100%);
}
h1, h2, h3{
    font-family: 'Raleway', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10vh;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
.nav-item{
    display: inline-block;
    list-style: none;
    padding: 0 28px;
}
.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
}

.img-logo{
    width: 100px;
    height: auto;
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.img-hero{
    width: 600px;
}

.main-hero{
    margin: auto;
    width: 580px;
}

.hero-h2{
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-bottom: 25px;
}

.hero-p{
    width: 425px;
    margin: 0 auto;
    line-height: 1.4rem;
    font-size: .85rem;
    font-weight: 400;
    text-align: center;
}

.curvy-bg{
    position: relative;
    width: 100%;
    z-index: -1;
    top: -192px;
}

.btn{
    margin-top: 20px;
    padding: 15px 65px;
    color: #fff;
    background-color: hsl(198, 60%, 50%);
    border: none;
    border-radius: 30px;
    font-weight: 700;
}
.btn:hover, .btn:focus{
    background-color: hsl(176, 68%, 64%);
    transition: all 300ms ease;
    cursor: pointer;
}

.content{
    width: 100%;
    height: auto;
    background-color: hsl(218, 28%, 13%); 
    position: relative;
    top: -250px;
    z-index: -1;

}
.features{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: -30px;
}
.col-features:nth-child(1){
    margin-top: 10px;
}
.col-features:nth-child(4){
    padding-top: 8px;
}
.p-text{
    margin: 0 auto;
    line-height: 1.2rem;
    font-size: .85rem;
    font-weight: 400;
    text-align: center;
}

.h-text{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 25px;
    margin-bottom: 10px;
}
.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
}

.product-layer{
    width: 85%;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-product{
    width: 500px;
}
.product-item{
    width: 38%;
    margin: 0 auto;
    text-align: left;
}
.h-product{
    font-size: 1.55rem;
    width: 70%;
    margin-bottom: 18px;
    line-height: 1.95rem;
}
.p-product{
    line-height: 1.25rem;
    font-size: .85rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.link-nav{
    font-size: .85rem;
    color: hsl(198, 60%, 50%);
}

.testimonials{
    width: 78%;
    margin: 0 auto;
    position: relative;
    top: 130px;
}
.img-quote{
    width: 40px;
}

.testimonies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: auto;
    position: relative;
    top: -15px;
    right: -5px;
}

.testimonial-card{
    padding: 20px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:  hsl(219, 30%, 18%);
    box-shadow: 2px 2px 3px hsl(217, 27%, 20%);
}

.mini-card{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 30px;
}

.img-profile{
    width: 12%;
    border-radius: 50%;
}
.p-profile{
    padding-top: 15px;
    line-height: 1.2rem;
    font-size: .8rem;
}

.h5-profile{
    font-size: .75rem;
}

.h6-profile{
    padding-top: 8px;
    font-size: .55rem;
}

.cta{
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 450px;
    position: absolute;
    width: 60%;

}

.card-sm{
    text-align: center;

}
.cta-card{
    background-color: hsl(219, 30%, 18%);
    padding: 50px 78px 35px;
    border-radius: 12px;
    box-shadow: 0 .65rem 1rem hsl(217, 27%, 20%);

}

form{
    padding-top: 20px;
}
#emailAddress{
    width: 400px;
    border-radius: 30px;
    padding: 15px 10px;
}

/*.foot{
    margin-bottom: 100px;
    background-color: hsl(216, 53%, 9%);
}*/
/*.container, .container-fluid{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}*/
@media(max-width: 375px){
    
   .container{
    width: 90%;
    margin-top: 10px;
   }
    .nav-item{
        justify-content: space-between;
        padding: 0 8px;
    }
    .img-logo{
        width: 70px;
        height: auto;
    }
    .nav-link{
        font-size: .7rem;
    }
    .hero{
        margin-top: 30px;    
    }
    .img-hero{
        width: 300px;
    }
    .main-hero{
        margin-top: 8px;
        width: 270px;
    }
    .hero-h2{
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }
    
    .hero-p{
        width: 260px;
        line-height: 1.3rem;
        font-size: .8rem;
    }
    
    .curvy-bg{
        position: relative;
        width: 100%;
    }

    .btn{
        margin-top: 25px;
        padding: 12px 70px;
        font-size: .8rem;
        }

    .content{
        /*position: relative;*/
        width: 85%;
        margin: auto;
        margin-top: 50px;
    }

    .row{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 250px;
        text-align: center;
        width: 300px;
    }

    .img-features{
        width: 60px
    }

    .h-text{
        padding-top: 22px;
        line-height: 1.75rem;
        font-size: 1.05rem;
        margin-bottom: 10px;
    }

    .p-text{
        width: auto;
        margin: auto;
        line-height: 1.25rem;
        font-size: .785rem;
        margin-bottom: 50px;
    }

    
    .link-nav{
        color: hsl(198, 60%, 50%);
        font-size: .75rem;
    }
    
    .product-layer{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 150px;
    }
    .product-item{
        width: auto;
        margin-top: 35px;
    }

    .h-product{
        width: auto;
        font-size: 1rem;
    }

    .p-product{
        font-size: .75rem;
        line-height: 1rem;
    }
    
    .img-product{
        width: 300px;
    }
    .testimonials{
        width: 80%;
    }
    
    .testimonies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-quote{
        width: 30px;
    }
    .testimonial-card{
    width: auto;
    height: 180px;
    }
    .p-profile{
        font-size: .75rem;
        line-height: 1rem;
    }
    .img-profile{
        width: 28px;
    }
    .h5-profile{
        font-size: .7rem;
    }
    
    .h6-profile{
        font-size: .5rem;
    }

}